* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.col-menu{width: 15%;}
.col-none{width: 15%;}
.col-photo-name{width: 40%;
	margin-left: 0%;}
.col-presentation{width: 50%;}
.col-presentation-logo{width: 12%;}
.col-none{width: 19%;
          display: inline-block;}

@media only screen and (max-width: 800px) {
  .col-menu{width: 100%;
         display: block;}
  .col-menu-logo{width: 5%;}
  .col-none{display: none;}
  .col-photo-name{width: 100%;
	margin-left: 0%;}
  .col-presentation{width: 100%;}
  .col-presentation-logo{width: 20%;
                         margin-left: 0%;}
  .col-none{display:none;}
}

hr {
    display: block;
    height: 0.1px;
    border: 0;
    border-top: 1px solid #ccc;
    color: #A9A9A9;
    margin: 1em 0;
    padding: 0;
}

.menu{
  width:60%;
  text-align:center;
  height: 3em;
  margin-left: -8%
}



.links_menu{
  display: inline-block;
  border-style: none;
  padding: 2vh;
  color: grey;
  font-size: 25px;
  text-decoration: none;
  background-color: none;
}
.links_menu:hover{
  color: black;
  background-color: none;
  border-bottom:solid black 3px;
}

.button_langage{
  float:right;
  padding: 2vh;
  color: black;
}

.photo_and_name{
 display: inline-block;
 float: left;
 text-align: center;
 margin-top: 6%;
 font-size: 20px;
}

.photo{
  border-radius: 50%;
  border-style: double;
  border-width:0.3em;
  border-color: #A9A9A9;
  width: 10em;
}

.presentation{
 display: inline-block;
 text-align: center;
 margin-top: 6%;
}
.title_presentation{
 font-size : 40px;
 font-weight: bold;
 text-align: left;
}
.text_presentation{
 width: 90%;
 font-size : 17px;
 font-family: Courier;
 font-weight: 500;
 text-align: left;
 background-color: #F1F1F1;
}

.links_presentation{
 text-align: center; 
}
.logos{  
  transition: transform .1s;
  width: 7em;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.logos:hover{  
  transform: scale(1.1);
}
