* {
  box-sizing: border-box;
}

.col-none{width: 19%;
          display: inline-block;}
.col-menu{width: 19%}
.col-menu-logo{width: 35%;}
.col-main{width: 60%;}


@media only screen and (max-width: 800px) {
  .col-menu{width: 100%;
         display: block;}
  .col-menu-logo{width: 5%;}
  .col-main{width: 100%;}
  .col-none{display: none;}
}

.menu{
  width:100%;
  text-align:center;
}

.link_home{
  display: inline-block;
}

.links_menu{
  vertical-align: top;
  display: inline-block;
  border-style: none;
  padding: 2vh;
  color: black;
  font-size: 30px;
  text-decoration: none;
  background-color: none;
}
.links_menu:hover{
  color: red;
  background-color: #F1F1F1;
}

.talks{
  text-align: center;
}
.title_talks{
  display: inline-block; 
  text-align: left; 
  font-size : 40px;
  font-weight: bold;
  border-style: none;
  margin-top: 5%;
}
.list_talks{
  display: inline-block;   	
  text-align: left; 
  font-size : 20px;
  border-style: none;
}