* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.col-menu{width: 15%;}
.col-none{width: 15%;}
.col-photo-name{width: 40%;
	margin-left: 0%;}
.col-presentation{width: 50%;}
.col-presentation-logo{width: 12%;}
.col-none{width: 19%;
          display: inline-block;}

@media only screen and (max-width: 800px) {
  .col-menu{width: 100%;
         display: block;}
  .col-menu-logo{width: 5%;}
  .col-none{display: none;}
  .col-photo-name{width: 100%;
	margin-left: 0%;}
  .col-presentation{width: 100%;}
  .col-presentation-logo{width: 20%;
                         margin-left: 0%;}
  .col-none{display:none;}
}

hr {
    display: block;
    height: 0.1px;
    border: 0;
    border-top: 1px solid #ccc;
    color: #A9A9A9;
    margin: 1em 0;
    padding: 0;
}

.menu{
  width:60%;
  text-align:center;
  height: 3em;
  margin-left: -8%
}

.links_menu{
  display: inline-block;
  border-style: none;
  padding: 2vh;
  color: grey;
  font-size: 25px;
  text-decoration: none;
  background-color: none;
}
.links_menu:hover{
  color: black;
  background-color: none;
  border-bottom:solid black 3px;
}


.title_talks{
  display: inline-block; 
  text-align: left; 
  font-size : 40px;
  font-weight: bold;
  border-style: none;
  margin-top: 0%;
  
}
.list_talks{
  display: inline-block;   	
  text-align: left; 
  font-size : 20px;
  margin-left: 8%
}

.talk-title {
 text-decoration:none
}
.talk-title:hover {
 text-decoration:underline
}
.talk-title:hover img {
 box-shadow:0 0 10px rgba(0,0,0,0.25)
}
.talk-title {
 color:#808000
}

